/*
	Account Details Info CSS file
	default CSS last updated in version 2009-09-26
*/
body.scroller {
	overflow: auto;
}

div.settingsbox-account-details, div.settingsbox-account-details-custom {
	/* Expand the width of the box instead of breaking lines */
	margin: 0 1px 1px 0;
	overflow: auto;
}

div.settingsbox-account-details div.boxcontent {
	padding: 1px;
	overflow: auto;
}

div.settingsbox-account-details-custom div.boxcontent {
	padding: 1px 1px;
	overflow: auto;
}

table.account-details {
	margin: 0;
	padding: 0px 0 0px 0;
	width: 100%;
	overflow: auto;
}


table.account-details td {
	padding: 0 0 0 0;
	overflow: auto;
	background: #eee;
}


table.account-details td.header {
	font-weight: bold;
	padding-top: 0px;
	overflow: auto;
	
}

table.account-details td.headerfirst {
	font-weight: bold;
	overflow: auto;
	
}

table.account-details td.title {
	padding-right: 10px;
	overflow: auto;
	
}

table.account-details td.categorynote {
	font-style: italic;
	overflow: auto;
}

span.fieldnote-parentheses {
	/* style notes about field value - parentheses versions */
	overflow: auto;
}

span.fieldnote-newline {
	/* style notes about field value - newline versions */
	display: block;
	margin-top: 2px;
	overflow: auto;
}

td.top_bold {
	font-weight: bold;
	vertical-align: top;
	overflow: auto;
}

td.top {
	vertical-align: top;
	padding-right: 10px;
	overflow: auto;
}

td.bottom_bold {
	font-weight: bold;
	vertical-align: bottom;
	overflow: auto;
}


td.paypal {
    text-align: right;
}