/*
	Account Details Info CSS file
	default CSS last updated in version 2009-09-26
*/
body.scroller {
	overflow: auto;
}

div.settingsbox-account-details, div.settingsbox-account-details-custom {
	/* Expand the width of the box instead of breaking lines */
	margin: 0 1px 1px 0;
	overflow: auto;
}

div.settingsbox-account-details div.boxcontent {
	padding: 1px;
	overflow: auto;
}

div.settingsbox-account-details-custom div.boxcontent {
	padding: 1px 1px;
	overflow: auto;
}

table.account-details {
	margin: 0;
	padding: 0px 0px 0px 0px;
	width: 100%;
	overflow: auto;
}


table.account-details td {
	padding: 0 0 3px 0;
	overflow: auto;
/*	background: #eee; */

}


table.account-details td.header {
	font-weight: bold;
	padding-top: 0px;
	overflow: auto;
	
}

table.account-details td.headerfirst {
	font-weight: bold;
	overflow: auto;
	
}

table.account-details td.title {
	padding-right: 10px;
	overflow: auto;
	
}

table.account-details td.categorynote {
	font-style: italic;
	overflow: auto;
}

span.fieldnote-parentheses {
	/* style notes about field value - parentheses versions */
	overflow: auto;
}

span.fieldnote-newline {
	/* style notes about field value - newline versions */
	display: block;
	margin-top: 2px;
	overflow: auto;
}

td.top_bold {
	font-weight: bold;
	vertical-align: top;
	overflow: auto;
}

td.top {
	vertical-align: top;
	padding-right: 10px;
	overflow: auto;
}

td.bottom_bold {
	font-weight: bold;
	vertical-align: bottom;
	overflow: auto;
}


td.paypal {
    text-align: right;
}

table.account-details-list {
	margin: 0;
	padding: 0px 0 0px 0;
	width: auto;
	text-align: left;
	overflow: auto;
}


table.account-details-list td {
	padding: 0 25px 0px 0;
	overflow: auto;
/*	background: #eee; */

}


table.account-details-list td.header {
	padding-top: 0px;
	overflow: auto;
	
}

table.account-details-list td.headerfirst {
	overflow: auto;
	
}

table.account-details-list td.title {
	padding-right: 10px;
	overflow: auto;
	
}

table.account-details-list td.categorynote {
	font-style: italic;
	overflow: auto;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  width: 600px;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 2px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 2px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
/*
glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
*/
