#showusername a
{
  background: url('images/user.gif') 5px 1px no-repeat;
}


/* Fix boxtitle header span */
div.settingsbox-account_details .boxtitle {
  width: 100% !important;
  box-sizing: border-box;
  margin-right: 0 !important;
  padding-right: 15px;
}
